<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h1><%= title %></h1>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!-- Header Row-->
        <tr class="d-flex">
          <th class="text-center col-2">Contact Name</th>
          <th class="text-center col-2">Contact Number</th>
          <th class="text-center col-2">E-mail</th>
        </tr>

        <!-- Repeatable Template Row -->
        <div style="display: flex; justify-content: space-between">
          <h1 class="py-2"><%= title%></h1>
          <button class="btn btn-primary" style="height: 60%; margin-top: 1.5%">
            <a
              href="/business-contacts/add/"
              style="color: white"
              class="btn btn-sm"
              ><i class="fas fa-user-plus"></i> Add Contact</a
            >
          </button>
        </div>

        <% for(let count = 0; count < ContactList.length; count++) { %>
        <tr class="d-flex">
          <td class="text-center col-2">
            <%= ContactList[count].contactname %>
          </td>
          <td class="text-center col-2">
            <%= ContactList[count].contactnumber %>
          </td>
          <td class="text-center col-2"><%= ContactList[count].email %></td>
          <td>
            <a
              href="/business-contacts/edit/<%= ContactList[count]._id %>"
              class="btn btn-sm"
            >
              <i class="fas fa-user-edit" style="color: #007bff"> </i
            ></a>
            <a
              href="/business-contacts/delete/<%= ContactList[count]._id %>"
              class="btn btn-sm"
            >
              <i class="far fa-trash-alt" style="color: #007bff"> </i
            ></a>
          </td>
        </tr>

        <% } %>
      </table>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
