<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
 
<!-- Main Content -->
<main class="container" style="margin-top:3%">
<div style="display: flex;">
 <img src="Assets/skillsGirl.svg" class="girlimg" alt="homePageimg" /> 
 <div>
 <h1 class="message">
  Welcome!<br />Make your mind creative
    <span style="color:orangered">&</span><br />Learn to code!</span>
</h1>

<div style="display: flex; justify-content: flex-end;">
<a class="btn btn-warning my-3" style="color:white;" href="/about"
>About Me</a>
</div>
  <h2 style="text-align: right;font-weight: bold"><%= firstName %></h2>
  <h2 style="text-align: right;font-weight: bold"><%= lastName %></h2>
  <h2 style="text-align: right;font-weight: bold"><%= mail %></h2>
  <h2 style="text-align: right;font-weight: bold"><%= contactNumber %></h2>
  <h2 style="text-align: right;font-weight: bold"><%= message %></h2>
</div>
</div>
</main>

 <%- include partials/footer.ejs %>
